<div id="detail-product">
  <div class="row">
    <div class="col-md-5">
      <div class="main-img">
        <div class="row">
          <%= image_tag itemable.thumbnail %>
        </div>
        <div class="row my-3 previews">
          <div class="col-md-3">
            <img class="w-100" src="https://cdn.pixabay.com/photo/2015/07/24/18/40/model-858754_960_720.jpg" alt="Sale">
          </div>
          <div class="col-md-3">
            <img class="w-100" src="https://cdn.pixabay.com/photo/2015/07/24/18/38/model-858749_960_720.jpg" alt="Sale">
          </div>
          <div class="col-md-3">
            <img class="w-100" src="https://cdn.pixabay.com/photo/2015/07/24/18/39/model-858751_960_720.jpg" alt="Sale">
          </div>
          <div class="col-md-3">
            <img class="w-100" src="https://cdn.pixabay.com/photo/2015/07/24/18/37/model-858748_960_720.jpg" alt="Sale">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="main-description px-2">
        <div class="category text-bold">
          <%= itemable.category.name%>
        </div>
        <div class="product-title text-bold my-3">
          Black dress for Women
        </div>
        <div class="price-area my-4">
          <p class="old-price mb-1"><del><%= currency_to_number(itemable.price)%></del> <span class="old-price-discount text-danger">(<%= itemable.discount%>% off)</span></p>
          <p class="new-price text-bold mb-1"><%= currency_to_number(itemable.price - itemable.price * itemable.discount/100) %></p>
          <p class="text-secondary mb-1">(Additional tax may apply on checkout)</p>
        </div>
        <div class="buttons d-flex my-5">
          <%= form_tag carts_path, method: :post do %>
            <%= hidden_field_tag :itemable_id, itemable.id %>
            <%= hidden_field_tag :itemable_type, itemable.class.name %>
            <div class="block">
              <%= submit_tag 'Add to cart', class: 'btn custom-btn' %>
            </div>
          <% end %>
          <%= form_tag order_details_path, method: :post, class: 'd-flex' do %>
            <%= hidden_field_tag :itemable_id, itemable.id %>
            <%= hidden_field_tag :itemable_type, itemable.class.name %>
            <div class="block">
              <%= submit_tag 'Order', class: 'btn custom-btn' %>
            </div>
            <div class="block quantity">
              <input type="number" class="form-control" id="cart_quantity" value="1" placeholder="Enter email" name="quantity">
            </div>
          <% end %>
        </div>
      </div>
      <div class="product-details my-4">
        <p class="details-title text-color mb-1">Product Details</p>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat excepturi odio recusandae aliquid ad impedit autem commodi earum voluptatem laboriosam? </p>
      </div>
      <div class="row questions bg-light p-3">
        <div class="col-md-1 icon">
          <i class="fa-brands fa-rocketchat questions-icon"></i>
        </div>
        <div class="col-md-11 text">
          Have a question about our products at E-Store? Feel free to contact our representatives via live chat or email.
        </div>
      </div>
      <div class="delivery my-4">
        <p class="font-weight-bold mb-0"><span><i class="fa-solid fa-truck"></i></span> <b>Delivery done in 3 days from date of purchase</b> </p>
        <p class="text-secondary">Order now to get this product delivery</p>
      </div>
      <div class="delivery-options my-4">
        <p class="font-weight-bold mb-0"><span><i class="fa-solid fa-filter"></i></span> <b>Delivery options</b> </p>
        <p class="text-secondary">View delivery options here</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div>
      <%- if itemable.class == Product %>
        <%= render 'itemables/products/configuration', itemable: itemable %>
      <%- elsif itemable.class == Accessory %>
        <%= render 'itemables/accessories/configuration', itemable: itemable %>
      <% end %>
    </div>
  </div>
  <div class="similar-products my-4">
    <p class="display-5">Similar</p>
    <div class="row">
      <%- itemables.each do |item|%>
        <%= render partial: 'itemables/itemables', locals: { itemable: item, category: item.category, class_name: 'col-md-3' } %>
      <% end %>
    </div>
  </div>
  <%= paginate itemables %>
</div>  