<table>
    <tr>
      <th>ID</th>
      <th>Product Id</th>
      <th>Screens</th>
      <th>Backside Camera</th>
      <th>Front Camera</th>
      <th>Memory In</th>
      <th>CPU</th>
      <th>GPU</th>
      <th>Battery Capacity</th>
      <th>Sim</th>
      <th>Operating</th>
      <th>Made By</th>
      <th>Released Time</th>
      <th>Created at</th>
      <th>Updated at</th>
    </tr>
        <tr>
          <td><%= @configuration.id %></td>
          <td><%= @configuration.product_id %></td>
          <td><%= @configuration.screens %></td>
          <td><%= @configuration.backside_camera %></td>
          <td><%= @configuration.front_camera %></td>
          <td><%= @configuration.memory_in %></td>
          <td><%= @configuration.cpu %></td>
          <td><%= @configuration.gpu %></td>
          <td><%= @configuration.battery_capacity %></td>
          <td><%= @configuration.sim %></td>
          <td><%= @configuration.operating_system %></td>
          <td><%= @configuration.made_by %></td>
          <td><%= @configuration.released_time %></td>
          <td><%= @configuration.created_at %></td>
          <td><%= @configuration.updated_at %></td>
        </tr>
          <td><%= button_to "Deleted", manufacture_category_product_configuration_path(@product.manufacture, @product.category, @product), method: :delete %></td>
          <td><%= button_to "Edit", edit_manufacture_category_product_configuration_path(@product.manufacture, @product.category, @product), method: :get %></td>
  </table>