<div class="cart_body">
  <div class="row px-md-4">
    <div class="col-lg-8">
      <p class="pb-2 fw-bold">List Products</p>
      <div class="card">
        <div class="table-responsive px-md-4 px-2 pt-3">
          <table class="table table-borderless">
            <tbody>
            <%- @order_detail_items.each do |item| %>
              <%= form_for filter_user_carts_path(@user), method: :post do |f| %>
                <tr class="border-bottom order-item">
                  <td>
                    <div class="d-flex align-items-center">
                        <div><%= image_tag item.itemable.thumbnail, size: "100"%></div>
                        <div class="ps-3 d-flex flex-column justify-content">
                          <p class="fw-bold">Air<span class="ps-1"><%= item.itemable.name%></span></p>
                          <small class=" d-flex"> <span class=" text-muted">Color:</span> <span class=" fw-bold">Red/White</span> </small>
                          <small class=""> <span class=" text-muted">Size:</span> <span class=" fw-bold">L</span> </small>
                        </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex">
                      <p class="pe-3"><span class="red"><%= currency_to_number(item.itemable.price - item.itemable.price * item.itemable.discount/100)%></span></p>
                      <p class="text-muted text-decoration-line-through"><%= currency_to_number(item.itemable.price) %></p>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex">
                      <div class="pe-3 text-muted">Quantity</div>
                      <div class="pe-3">
                        <%= f.number_field :quantity, value: item.quantity %>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-4 payment-summary">
      <p class="fw-bold pt-lg-0 pt-4 pb-2">Payment Summary</p>
      <div class="card px-md-3 px-2 pt-4">
        <% if ( @user.shipping_address == nil ||
              @user.shipping_address.city == "" || 
              @user.shipping_address.district == "" ||
              @user.shipping_address.address == "" ||
              @user.shipping_address.receiver_name == "" ||
              @user.shipping_address.receiver_phone_number == "" ) %>
          <div class="unregistered mb-4">
            <span class="py-1">unregistered shipping address</span>
            <%= link_to edit_user_path(@user), method: :get do %>
            registered
            <% end%>
          </div>
        <%end%>
        <div class="d-flex justify-content-between pb-3"> <small class="text-muted">Transaction code</small>
          <p class="">VC115665</p>
        </div>
        <%= form_tag user_carts_path(@user), method: :get do %>
          <div class="">
            <% if @coupon %>
              <%= text_field_tag :coupon_code, @coupon.code%>
            <% else %>
              <%= text_field_tag :coupon_code %>
            <% end %>
          </div>
          <div class='d-flex justify-content-between pt-2'>
            <%= submit_tag "Checking", class: 'coupon-md'%>
            <!-- trigger modal -->
            <a type="button" class="coupon-md" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Coupons
            </a>
          </div>
        <% end %>
      <%= form_tag orders_path, method: :post do%>
        <%= hidden_field_tag :cart_id %>
        <% if params[:coupon_id]%>
          <%= hidden_field_tag :coupon_id, params[:coupon_id]%>
        <% elsif params[:coupon_code]%>
          <%= hidden_field_tag :coupon_code, params[:coupon_code]%>
        <% end %>
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-between pt-3"> <small class="text-muted">Order Summary:</small>
            <p>
              <%= currency_to_number(cart_summary(@order_detail_items))%>
            </p>
          </div>
          <div class="d-flex justify-content-between"> <small class="text-muted">Shipping fee:</small>
            <p>
              <%= currency_to_number(20_000)%>
            </p>
          </div>
          <div class="d-flex justify-content-between b-bottom pb-1"> <small class="text-muted">Discount:</small>
            <p>
              <%= currency_to_number(@coupon&.price)%>
            </p>
          </div>
          <div class="d-flex justify-content-between pt-3 pb-3"> <small class="text-muted">Total Amount:</small>
            <h5 class='strike-md-code'>
              <%= currency_to_number(cart_summary_coupon(@order_detail_items, @coupon))%>
            </h5>
          </div>
        </div>
          <%= submit_tag "Order", class: "btn btn-primary order-cart"%>
        </div>
      <% end %>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Coupons</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%- @coupons.each do |coupon| %>
              <%= form_with url: carts_path, method: :get do |form|%>
                  <%= form.hidden_field :coupon_id, value: coupon.id %>
                <div class="row p-2 border rounded coupon-md-item mb-1">
                  <div class="col-md-8 mt-1">
                    <div class='d-flex'>
                      <h6>CODE:</h6>
                      <h6 class='strike-md-code'><%= coupon.code %></h6>
                    </div>
                    <div class="d-flex">
                      <span class='strike-text'>Discount: </span>
                      <b class="mr-1 strike-md-number"><%= currency_to_number(coupon.price)%></b>
                    </div>
                  </div>
                  <div class="align-items-center align-content-center col-md-4 border-left mt-1">
                    <div class="d-flex flex-column mt-4">
                      <%= form.submit 'Use', class: 'btn btn-primary btn-sm mt-2'%>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>