<div class="cart_body">
  <div class="row px-md-4">
    <div class="col-lg-8">
      <p class="pb-2 fw-bold">List Products</p>
      <div class="card">
        <div class="table-responsive px-md-4 px-2 pt-3">
          <table class="table table-borderless">
            <tbody>
            <%- @order_detail_items.each do |item| %>
              <%= form_for filter_user_carts_path(@user), method: :post do |f| %>
                <tr class="border-bottom order-item">
                  <td>
                    <div class="d-flex align-items-center">
                        <div><%= image_tag item.itemable.thumbnail, size: "100"%></div>
                        <div class="ps-3 d-flex flex-column justify-content">
                          <p class="fw-bold">Air<span class="ps-1"><%= item.itemable.name%></span></p>
                          <small class=" d-flex"> <span class=" text-muted">Color:</span> <span class=" fw-bold">Red/White</span> </small>
                          <small class=""> <span class=" text-muted">Size:</span> <span class=" fw-bold">L</span> </small>
                        </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex">
                      <p class="pe-3"><span class="red"><%= currency_to_number(item.itemable.price - item.itemable.price * item.itemable.discount/100)%></span></p>
                      <p class="text-muted text-decoration-line-through"><%= currency_to_number(item.itemable.price) %></p>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex">
                      <div class="pe-3 text-muted">Quantity</div>
                      <div class="pe-3">
                        <%= f.number_field :quantity, value: item.quantity %>
                      </div>
                          <%# <%= f.check_box :attribute_name, class: 'hidden-checkbox' %>
                      <div class="pe-3">
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-4 payment-summary">
    <%= form_tag user_orders_path(@user), method: :post do%>
      <%= hidden_field_tag 'cart_id' %>
      <p class="fw-bold pt-lg-0 pt-4 pb-2">Payment Summary</p>
      <div class="card px-md-3 px-2 pt-4">
        <div class="unregistered mb-4"> <span class="py-1">unregistered account</span> </div>
        <div class="d-flex justify-content-between pb-3"> <small class="text-muted">Transaction code</small>
          <p class="">VC115665</p>
        </div>
        <div class="d-flex justify-content-between b-bottom">
          <input type="text" class="ps-2" placeholder="COUPON CODE">
          <%= submit_tag "Order", class: "btn btn-primary"%>
        </div>
        <div class="d-flex flex-column b-bottom">
          <div class="d-flex justify-content-between py-3"> <small class="text-muted">Order Summary</small>
            <p>
              <%= currency_to_number(cart_summary(@order_detail_items))%>
            </p>
          </div>
          <div class="d-flex justify-content-between pb-3"> <small class="text-muted">Additional Service</small>
            <p>
              <%= currency_to_number(20_000)%>
            </p>
          </div>
          <div class="d-flex justify-content-between"> <small class="text-muted">Total Amount</small>
            <p>
              <%= currency_to_number(cart_summary(@order_detail_items) + 20_000)%>
            </p>
          </div>
        </div>
        <div class="sale my-3"> <span>sale<span class="px-1">expiring</span><span>in</span>:</span><span class="red">21<span class="ps-1">hours</span>,31<span class="ps-1 ">minutes</span></span> </div>
      </div>
    <% end %>
    </div>
  </div>
</div>