<div class="row row-sm-12">
  <div class="box-left col-sm-8">
    <div class="swiper-container">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
          <%= image_tag 'header_sale/638157124889798203_43C88733-7795-455B-9BDB-AD1649C733CF.webp'%>
          </div>
          <div class="carousel-item">
          <%= image_tag 'header_sale/638159006091431304_F-H1_800x300.webp'%>
          </div>
          <div class="carousel-item">
          <%= image_tag 'header_sale/638159015819146668_F-H1_800x300.webp'%>
          </div>
          <div class="carousel-item">
          <%= image_tag 'header_sale/638159425274323242_F-H1_800x300.webp'%>
          </div>
          <div class="carousel-item">
          <%= image_tag 'header_sale/638161126584785152_F-H1_800x300.webp'%>
          </div>
          <div class="carousel-item">
          <%= image_tag 'header_sale/638161150403008970_F-H1_800x300.webp'%>
          </div>
          <div class="carousel-item">
          <%= image_tag 'header_sale/638163024151567829_F-H1_800x300.webp'%>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="swiper-container">
      <div class="row row-flex">
        <div class="col swiper-slide">
          <a href="">
            <div class="sl-name">iPhone 13 series reduced to 7.5 million VND</div>
          </a>
        </div>
        <div class="col swiper-slide">
          <a href="">
            <div class="sl-name">xiaomi simultaneously discount up to 50%</div>
          </a>
        </div>
        <div class="col swiper-slide">
          <a href="">
            <div class="sl-name">galaxy s22 series shock reduction</div>
          </a>
        </div>
        <div class="col swiper-slide">
          <a href="">
            <div class="sl-name">reno 7.0 old shock reduction from 8,190,000 VND</div>
          </a>
        </div>
        <div class="col swiper-slide">
          <a href="">
            <div class="sl-name">Fan reduces shock by up to 50%</div>
          </a>
        </div>
        <div class="col swiper-slide">
          <a href="">
            <div class="sl-name">vico y21 series new price from 3,990,000 VND</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="box-right col-sm-4">
    <div class="box-right-bn">
      <div class="box-right-bn-sl margin-5">
        <a href="#">
          <img src="https://images.fpt.shop/unsafe/fit-in/385x100/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/7/29/637946497402736271_F-H2_385x100.png" alt="">
        </a>
      </div>
      <div class="box-right-bn-sl">
        <a href="#">
          <img src="https://images.fpt.shop/unsafe/fit-in/385x100/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/6/25/637917590025356189_F-H2_385x100-2.png" alt="">
        </a>
      </div>
    </div>
    <div class="box-right-news">
      <div class="box-body">
        <div class="caption-char">
          <p>Highlights</p>
          <a href="">see all</a>
        </div>
        <article class="news-item">
          <a href="#">
            <span class="picture">
              <img src="https://images.fpt.shop/unsafe/fit-in/70x40/filters:quality(90):fill(white)/https://fptshop.com.vn/Uploads/images/2015/PhuongMT5/FPT-0.png" alt="">
              <div class="news-item-if-mess">
                <p>Receive a voucher of 50,000 VND</p>
              </div>
            </span>
          </a>
        </article>
        <article class="news-item">
          <a href="#">
            <span class="picture">
              <img src="https://images.fpt.shop/unsafe/fit-in/70x40/filters:quality(90):fill(white)/https://fptshop.com.vn/Uploads/images/2015/CTKM-Voucher/react/viber_image_2022-07-11_11-19-32-434.png" alt="">
              <div class="news-item-if-mess">
                <p>Xiaomi m11 pro receive a discount of 3,090,000 VND</p>
              </div>
            </span>
          </a>
        </article>
      </div>
    </div>
  </div>
</div>