<div class="fpt-sale">
  <div class="fpt-sale-coutdown">
    <%= render 'sale_coutdown'%>
  </div>

  <div class="sale_information">
    <%= render 'sale_information'%>
  </div>

  <section class="content-box-1">
    <div class="row row-flex list-accessories bg-white">
      <%- @index_facade.categories_of_prodcut.each do |product| %>
        <div class="item-accessories col-sx-6 col-md-3 col-sm-4 col-lg-2">
          <%= link_to category_products_path(product), class: "ct-item-a ct-transition" do %>
            <div class="cate-item text-center">
              <picture class="picture">
                <%= image_tag product.thumbnail %>
              </picture>
              <div class="cate-item-name"><%= truncate(product.name, length: 15)%></div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>

  <div class="banner-sale">
    <img src="./image/banner-sale.webp" alt="" style="width: 100%; border-radius:5px; margin-bottom: 20px;">
  </div>

  <section class="content-sale slide-product">
      <div class="prd-sale">
          <h2>HOT PROMOTION</h2>
      </div>
      <div class="row product-list">
        <%- @index_facade.products_top_sell.each do |product|%>
          <%- if product.quantity > 0 %>
            <%= render partial: 'itemables/itemables', locals: { itemable: product, category: product.category, class_name: 'col-md-3' } %>
          <% else %>
            <%= render partial: 'itemables/out_of_itemables', locals: { itemable: product, category: product.category, class_name: 'col-md-3' } %>
          <% end %>
        <% end %>
      </div>
  </section>

  <div class="row banner-cs">
    <%= render 'banner_advertisement__1'%>
  </div>

  <div class="fs-bnord" id="banner-html">
    <div class="sale_category_information">
      <%= render 'sale_category_information' %>
    </div>
  </div>

  <section class="content-sale" id="product-list">
    <div class="prd-sale">
      <h2><%= @index_facade.products_itemable_1.first.category.name %></h2>
    </div>
      <div class="row product-list">
        <%- @index_facade.products_itemable_1.each do |product| %>
          <%- if product.quantity > 0 %>
            <%= render partial: 'itemables/itemables', locals: { itemable: product, category: product.category, class_name: 'col-md-3' } %>
          <% else %>
            <%= render partial: 'itemables/out_of_itemables', locals: { itemable: product, category: product.category, class_name: 'col-md-3' } %>
          <% end %>
        <% end %>
      </div>
  </section>

  <div class="row banner-cs">
    <%= render 'banner_advertisement__2'%>
  </div>

  <section class="content-sale" id="product-list">
    <div class="prd-sale">
      <h2><%= @index_facade.products_itemable_3.first.category.name%></h2>
    </div>
      <div class="row product-list">
        <%- @index_facade.products_itemable_3.each do |product|%>
          <%- if product.quantity > 0 %>
            <%= render partial: 'itemables/itemables', locals: { itemable: product, category: product.category, class_name: 'col-md-3' } %>
          <% else %>
            <%= render partial: 'itemables/out_of_itemables', locals: { itemable: product, category: product.category, class_name: 'col-md-3' } %>
          <% end %>
        <% end %>
      </div>
  </section>

  <div class="banner-cs">
    <img src="https://images.fpt.shop/unsafe/fit-in/1200x100/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/7/5/637926428304638915_F-H7_1200x100.png" alt="">
  </div>

  <section class="content-sale" id="product-list">
    <div class="prd-sale">
      <h2><%= @index_facade.products_itemable_2.first.category.name %></h2>
    </div>
      <div class="row product-list">
        <%- @index_facade.products_itemable_2.each do |product| %>
          <%- if product.quantity > 0 %>
            <%= render partial: 'itemables/itemables', locals: { itemable: product, category: product.category, class_name: 'col-md-3' } %>
          <% else %>
            <%= render partial: 'itemables/out_of_itemables', locals: { itemable: product, category: product.category, class_name: 'col-md-3' } %>
          <% end %>
        <% end %>
      </div>
  </section>

<div class="banner-cs">
  <%= render 'banner_advertisement__3'%>
</div>
 
<div id="accessories-2">
  <div class="accessories-title">
    <h3><b>LIST ACCESSORIES</b></h3>
  </div>
  <div class="row list-accessories">
    <%- @index_facade.categories_of_accessory.each do |category| %>
      <div class="col item-accessories">
        <div class="cat-item text-center">
          <%= link_to category_accessories_path(category) do %>
            <%= image_tag( category.thumbnail, class: "accessory_thumbnail" ) %>
            <div class="cat-item-name"><%= category.name %></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row banner-final">
  <%= render 'banner_final'%>
</div>
