<table class="table table-striped table-product">
  <tr>
    <th>Screens</th>
    <td><%= itemable.configuration.screens%></td>
  </tr>
  <tr>
    <th>Backside Camera</th>
    <td><%= itemable.configuration.backside_camera%></td>
  </tr>
  <tr>
    <th>Front Camera</th>
    <td><%= itemable.configuration.front_camera%></td>
  </tr>
  <tr>
    <th>Memory In</th>
    <td><%= itemable.configuration.memory_in%></td>
  </tr><tr>
    <th>CPU</th>
    <td><%= itemable.configuration.cpu%></td>
  </tr>
    <tr>
    <th>Made By</th>
    <td><%= itemable.configuration.made_by%></td>
  </tr> </tr><tr>
    <th>RAM</th>
    <td><%= itemable.configuration.ram%></td>
  </tr>
</table>