  <div id="detail-product">
    <div class="row">
      <div class="col-md-5">
        <div class="main-img">
          <div class="row">
            <%=image_tag @product.thumbnail%>
          </div>
          <div class="row my-3 previews">
            <div class="col-md-3">
              <img class="w-100" src="https://cdn.pixabay.com/photo/2015/07/24/18/40/model-858754_960_720.jpg" alt="Sale">
            </div>
            <div class="col-md-3">
              <img class="w-100" src="https://cdn.pixabay.com/photo/2015/07/24/18/38/model-858749_960_720.jpg" alt="Sale">
            </div>
            <div class="col-md-3">
              <img class="w-100" src="https://cdn.pixabay.com/photo/2015/07/24/18/39/model-858751_960_720.jpg" alt="Sale">
            </div>
            <div class="col-md-3">
              <img class="w-100" src="https://cdn.pixabay.com/photo/2015/07/24/18/37/model-858748_960_720.jpg" alt="Sale">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="main-description px-2">
          <div class="category text-bold">
            <%= @product.category.name%>
          </div>
          <div class="product-title text-bold my-3">
            Black dress for Women
          </div>
          <div class="price-area my-4">
            <p class="old-price mb-1"><del><%= currency_to_number(@product.price)%></del> <span class="old-price-discount text-danger">(<%= @product.discount%>% off)</span></p>
            <p class="new-price text-bold mb-1"><%= currency_to_number(@product.price - @product.price * @product.discount/100) %></p>
            <p class="text-secondary mb-1">(Additional tax may apply on checkout)</p>
          </div>
          <div class="buttons d-flex my-5">
            <div class="block">
              <a href="#" class="shadow btn custom-btn ">Wishlist</a>
            </div>
            <div class="block">
              <button class="shadow btn custom-btn">Add to cart</button>
            </div>
            <div class="block quantity">
              <input type="number" class="form-control" id="cart_quantity" value="1" min="0" max="5" placeholder="Enter email" name="cart_quantity">
            </div>
          </div>
        </div>
        <div class="product-details my-4">
          <p class="details-title text-color mb-1">Product Details</p>
          <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat excepturi odio recusandae aliquid ad impedit autem commodi earum voluptatem laboriosam? </p>
        </div>
        <div class="row questions bg-light p-3">
          <div class="col-md-1 icon">
            <i class="fa-brands fa-rocketchat questions-icon"></i>
          </div>
          <div class="col-md-11 text">
            Have a question about our products at E-Store? Feel free to contact our representatives via live chat or email.
          </div>
        </div>
        <div class="delivery my-4">
          <p class="font-weight-bold mb-0"><span><i class="fa-solid fa-truck"></i></span> <b>Delivery done in 3 days from date of purchase</b> </p>
          <p class="text-secondary">Order now to get this product delivery</p>
        </div>
        <div class="delivery-options my-4">
          <p class="font-weight-bold mb-0"><span><i class="fa-solid fa-filter"></i></span> <b>Delivery options</b> </p>
          <p class="text-secondary">View delivery options here</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <table class="table table-striped table-product">
          <tr>
            <th>Screens</th>
            <td><%= @product.configuration.screens%></td>
          </tr>
          <tr>
            <th>Backside Camera</th>
            <td><%= @product.configuration.backside_camera%></td>
          </tr>
          <tr>
            <th>Front Camera</th>
            <td><%= @product.configuration.front_camera%></td>
          </tr>
          <tr>
            <th>Memory In</th>
            <td><%= @product.configuration.memory_in%></td>
          </tr><tr>
            <th>CPU</th>
            <td><%= @product.configuration.cpu%></td>
          </tr>
           <tr>
            <th>Made By</th>
            <td><%= @product.configuration.made_by%></td>
          </tr> </tr><tr>
            <th>RAM</th>
            <td><%= @product.configuration.ram%></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="similar-products my-4">
      <p class="display-5">Similar Products of <%= @category.name%></p>
      <div class="row">
        <%- @products.each do |product|%>
          <%= render partial: '/homes/products', locals: { product: product, category: product.category, class_name: 'col-md-3' } %>
        <% end %>
      </div>
    </div>
    <%= paginate @products %>
  </div>  
  
  
