<%= form_with url: manufacture_category_accessory_path(@manufacture, @accessory.category) , method: :put do |f| %>
<div>
  <%= f.label :manufacture_id, 'Manufacture_id' %><br>
  <%= f.text_field :manufacture_id, value: @accessory.manufacture_id %>
</div>

<div>
  <%= f.label :category_id, 'Category_id' %><br>
  <%= f.text_field :category_id, value: @accessory.category_id %>
</div>

<div>
  <%= f.label :name, 'Name' %><br>
  <%= f.text_field :name, value: @accessory.name %>
</div>

<div>
  <%= f.label :thumnail, 'Thumnail' %><br>
  <%= f.text_field :thumnail, value: @accessory.thumnail %>
</div>

<div>
  <%= f.label :quantity, 'Quantity' %><br>
  <%= f.text_field :quantity, value: @accessory.quantity %>
</div>

<div>
  <%= f.label :price, 'Price' %><br>
  <%= f.text_field :price, value: @accessory.price %>
</div>

<div>
  <%= f.submit "Updated" %>
</div>
<% end %>