<h1>New Accessory</h1>

<%= form_with url: manufacture_category_accessories_path(@manufacture, @category), method: :post do |f| %>
<div>
  <%= f.label :manufacture_id, 'Manufacture_id' %><br>
  <%= f.text_field :manufacture_id, value: @manufacture.id%>
</div>

<div>
  <%= f.label :category_id, 'Category_id' %><br>
  <%= f.text_field :category_id, value: @category.id %>
</div>

<div>
  <%= f.label :name, 'Name' %><br>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label :thumnail, 'Thumnail' %><br>
  <%= f.text_field :thumnail %>
</div>

<div>
  <%= f.label :quantity, 'Quantity' %><br>
  <%= f.text_field :quantity %>
</div>

<div>
  <%= f.label :price, 'Price' %><br>
  <%= f.text_field :price %>
</div>

<%= f.submit "Created" %>
<% end %>