<footer id="footer">
  <div class="container">
    <div class="fpt-footer row">
      <div class="fpt-ft-col col">
        <ul class="fpt-ftul">
          <li><a href="">Introduce about the company</a></li>
          <li><a href="">Frequently questions when buying</a></li>
          <li><a href="">Privacy policy</a></li>
          <li><a href="">Operating regulations</a></li>
          <li><a href="">Check e-invoice</a></li>
          <li><a href="">Look up warranty information</a></li>
        </ul>
      </div>
      <div class="fpt-ft-col col">
        <ul class="fpt-ftul">
          <li><a href="">Recruitment</a></li>
          <li><a href="">Promotion information</a></li>
          <li><a href="">online buying guide</a></li>
          <li><a href="">Installment buying guide</a></li>
          <li><a href="">Installment policy</a></li>
        </ul>
      </div>
      <div class="fpt-ft-col col">
        <ul class="fpt-ftul">
          <li><a href="">Shop system</a></li>
          <li><a href="">Warranty system</a></li>
          <li><a href="">Business sales</a></li>
          <li><a href="">introducing the exchange machine</a></li>
          <li><a href="">Return policy</a></li>
        </ul>
      </div>
      <div class="fpt-ft-col col-md-5 col-sx-12">
        <ul class="fpt-ftul-2">
          <li>
            <p class="fpt-ft-tit">Shopping advice (Free)</p>
            <a href="" title="">1800 6601 </a>
            <span>(Branch 1)</span>
            <p class="fpt-ft-tit">Technical assistance</p>
            <a href="" title="">1800 6601 </a>
            <span>(Branch 2)</span>
          </li>
          <li style="width: 300px;">
            <p class="fpt-ft-tit">Feedback, Service complaint (8.00-22.00)</p>
            <a href="" title="">1800 6616</a>
          </li>
        </ul>
        <div class="support row">
          <div class="payment-support col-5">
            <p class="fpt-ft-tit">Payment support:</p>
            <div>
            <a href="">
              <%= image_tag 'payment_support/ft-img6.png' %>
            </a>
            <a href="">
              <%= image_tag 'payment_support/ft-img7.png' %>
            </a>      
            <a href="">
              <%= image_tag 'payment_support/ft-img8.png'%>
            </a> 
              <a href="">
              <%= image_tag 'payment_support/ft-imgamex.png'%>
            </a> 
            </div>
            <div>
            <a href="">
              <%= image_tag 'payment_support/ft-img9.png' %>
            </a>
            <a href="">
              <%= image_tag 'payment_support/ft-img11.png' %>
            </a>      
            <a href="">
              <%= image_tag 'payment_support/ft-img12.png'%>
            </a> 
              <a href="">
              <%= image_tag 'payment_support/ft-img10.png'%>
            </a> 
            </div>
              <div>
            <a href="">
              <%= image_tag 'payment_support/ft-img15.png' %>
            </a>
            <a href="">
              <%= image_tag 'payment_support/ft-img13.png' %>
            </a>      
            <a href="">
              <%= image_tag 'payment_support/ft-img14.png'%>
            </a> 
            </div>   
          </div>
          <div class="link_company col-7">
            <p class="fpt-ft-tit">Certification:</p>
            <%= image_tag 'payment_support/ft-img3.png'%>
            <%= image_tag 'payment_support/ft-img4.png'%>
            <%= image_tag 'payment_support/ft-img5.png'%>
            <p style="margin: 4px 0px;">Website of coporation: </p>
            <a href="">
              <%= image_tag 'payment_support/download.png'%>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>