<div id="header">
  <div class="hd-top">
    <div class="hd-wrap container">
      <div class="row">
        <div class="col-4">
          <%= link_to root_path, class: 'fpt-logo', method: :root do %>
            <%= image_tag 'payment_support/logo-fpt-png'%>
            <%= image_tag 'payment_support/logo-fpt-png'%>
            <%= image_tag 'payment_support/logo-fpt-png'%>
          <% end %>
        </div>
        <div class="col-4">
          <%- if params[:controller] = "homes" && params[:action] != "search"%>
            <%= form_tag search_homes_path, method: :get, class: "search-flex" do %>
              <%= text_field_tag :key, params[:key], id: "key", class: "search-text", placeholder: "Enter name mobile phone, computer, tablet..." %>
              <%= button_tag type: "submit", class: "search-icon" do %>
                <i class="fa-solid fa-magnifying-glass"></i>
              <% end %>
            <% end %>
          <% else %>
          <% end %>
        </div>
        <div class="col-4 hd-mn">
          <div class="row">
            <div class="col-3 hd-mn-item">
              <%= link_to  carts_path, class: "nav-link", method: :get do %>
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Carts</span>
              <% end %>
            </div>
            <div class="col-3 hd-mn-item">
              <%= link_to payment_homes_path, class: "nav-link", method: :get do %>
                <i class="fa-solid fa-credit-card"></i>
                <span>pay & utilities</span>
              <% end %>
            </div>
            <div class="col-3 hd-mn-item">
              <%= link_to users_path, class: "nav-link", method: :get do %>
                <i class="fa-solid fa-user"></i>
                <span>Account</span>
              <% end %>
            </div>
            <div class="col-3 hd-mn-item">
              <%= link_to orders_path, class: "nav-link", method: :get do %>
                <i class="fa-solid fa-bag-shopping"></i>
                <span>Orders</span>
              <% end %>
            </div>
          </div>
        </div>      
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid hd-menu">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="background-color:aquamarine; padding: 0px;"></span>
      </button>
      <div class="hd-wrap" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="hd-list-menu abc navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-mobile-button"></i>
              PHONE
            </a>
            <div class="dropdown-menu row ">
              <div class="dropdown-mobile">
                <div class="col-xl-4 col-lg-4 col-xs-6 ">
                  <p class="mobile-tit">Manufacturer</p>
                  <div class="content-menu-1">
                    <ul class="" aria-labelledby="navbarDropdownMenuLink">
                      <li><a href="#">Apple(Iphone)</a></li>
                      <li><a href="#">Xiaomi</a></li>
                      <li><a href="#">Nokia</a></li>
                      <li><a href="#">Realme</a></li>
                    </ul>
                    <ul class="" aria-labelledby="navbarDropdownMenuLink">
                      <li><a href="#">Samsung</a></li>
                      <li><a href="#">Vivo</a></li>
                      <li><a href="#">Assus</a></li>
                    </ul>
                    <ul class="" aria-labelledby="navbarDropdownMenuLink">
                      <li><a href="#">APPO</a></li>
                      <li><a href="#">Tesno</a></li>
                      <li><a href="#">Masstel</a></li>
                    </ul>
                  </div>
                  <p class="mobile-tit">Smart Watch</p>
                  <div class="content-menu-1">
                    <ul class="" aria-labelledby="navbarDropdownMenuLink">
                      <li><a href="#">Apple</a></li>
                      <li><a href="#">Masstel</a></li>
                      <li><a href="#">Huawel</a></li>
                    </ul>
                    <ul class="" aria-labelledby="navbarDropdownMenuLink">
                      <li><a href="#">Samsung</a></li>
                      <li><a href="#">Xiaomi</a></li>
                    </ul>
                    <ul class="" aria-labelledby="navbarDropdownMenuLink">
                      <li><a href="#">Oppo</a></li>
                      <li><a href="#">Garmin</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-xs-2 content-menu-2">
                  <p class="price-tit">Price</p>
                  <ul class="">
                    <li><a href="#">Less than 2 million</a></li>
                    <li><a href="#">From 2-4 million</a></li>
                    <li><a href="#">From 4-7 million</a></li>
                    <li><a href="#">From 7-12 million</a></li>
                    <li><a href="#">From 4-7 million</a></li>
                    <li><a href="#">Over than 13 million</a></li>
                  </ul>
                </div>
                <div class="col-xl-3 col-lg-4 col-xs-4 content-menu-3">
                  <p class="sale-tit">sale</p>
                  <ul class="" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                      <a href="">
                        <img src="https://images.fpt.shop/unsafe/fit-in/192x192/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/7/4/637925294823972014_samsung-galaxy-a53-xanh-dd-icon.jpg" alt="">
                      </a>
                      <div>
                        <span>
                          <a href="">Samsung Galaxy A53 5G 256GB</a>
                          <p>10.990.000 VND</p>
                        </span>
                      </div>
                    </li>
                  </ul>
                  <ul class="" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                      <a href="">
                        <img src="https://images.fpt.shop/unsafe/fit-in/192x192/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2021/10/15/637699137820447063_oppo-a55-dd.jpg" alt="">
                      </a>
                      <div>
                        <span>
                          <a href="">OPPO A55 4GB-64GB</a>
                          <p>4.490.000 VND</p>
                        </span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-xl-3 content-menu-4">
                  <a href="">
                    <img src="https://images.fpt.shop/unsafe/fit-in/248x248/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/7/26/637944273471751685_H4_248x248.png" alt="">
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown" id="dropdown-custom">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-laptop"></i>
              LAPTOP
            </a>
            <div class="dropdown-menu row row-flex" >
              <div class="dropdown-laptop">
                <div class="col-xl-5 col-lg-5 content-menu-1">
                  <p class="laptop-tit">Manufacturer</p>
                  <div class="dropdown-laptop-content">
                    <ul class="dropdown-laptop-list">
                      <li class="dropdown-laptop-item"><a href="">Apple(Macbook)</a></li>
                      <li class="dropdown-laptop-item"><a href="">Acer</a></li>
                      <li class="dropdown-laptop-item"><a href="">Dell</a></li>
                      <li class="dropdown-laptop-item"><a href="">Fujitsu</a></li>
                      <li class="dropdown-laptop-item"><a href="">Masstel</a></li>
                    </ul>
                    <ul class="dropdown-laptop-list">
                      <li class="dropdown-laptop-item"><a href="">Asus</a></li>
                      <li class="dropdown-laptop-item"><a href="">MSI</a></li>
                      <li class="dropdown-laptop-item"><a href="">Microsoft(Surface)</a></li>
                      <li class="dropdown-laptop-item"><a href="">Chuwi</a></li>
                    </ul>
                    <ul class="dropdown-laptop-list">
                      <li class="dropdown-laptop-item"><a href="">HP</a></li>
                      <li class="dropdown-laptop-item"><a href="">Lenovo</a></li>
                      <li class="dropdown-laptop-item"><a href="">Gigabyte</a></li>
                      <li class="dropdown-laptop-item"><a href="">Avita</a></li>
                    </ul>
                  </div>
                  <p class="laptop-tit">Software</p>
                  <div class="dropdown-laptop-content">
                    <ul class="dropdown-laptop-list">
                      <li class="dropdown-laptop-item"><a href="">Kill virus</a></li>
                      <li class="dropdown-laptop-item"><a href="">Other Software</a></li>
                    </ul>
                    <ul class="dropdown-laptop-list">
                      <li class="dropdown-laptop-item"><a href="">Microsoft Office</a></li>
                    </ul>
                    <ul class="dropdown-laptop-list">
                      <li class="dropdown-laptop-item"><a href="">Windows</a></li>
                    </ul>
                  </div>
                  <p class="laptop-tit">Printer</p>
                  <div class="dropdown-laptop-content">
                    <ul class="dropdown-laptop-list">
                      <li class="dropdown-laptop-item"><a href="">HP</a></li>
                    </ul>
                    <ul class="dropdown-laptop-list">
                      <li class="dropdown-laptop-item"><a href="">Canon</a></li>
                    </ul>
                    <ul class="dropdown-laptop-list">
                      <li class="dropdown-laptop-item"><a href="">Brother</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 content-menu-2">
                  <p class="price-tit">Price</p>
                  <ul class="">
                    <li><a href="#">Less than 5 million</a></li>
                    <li><a href="#">From 5-10 million</a></li>
                    <li><a href="#">From 10-15 million</a></li>
                    <li><a href="#">From 15-20 million</a></li>
                    <li><a href="#">From 20-25 million</a></li>
                    <li><a href="#">From 25-30 million</a></li>
                    <li><a href="#">Over than 30  million</a></li>
                  </ul>
                </div>
                <div class="col-xl-4 content-menu-3">
                  <a href="">
                    <img src="https://images.fpt.shop/unsafe/fit-in/248x248/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/6/30/637922251851746367_F-H4_248x248.png" alt="">
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-tablet"></i>
              TABLET&IPAD
            </a>
            <div class="dropdown-menu row">
              <div class="dropdown-tablet">
                  <div class="col-xl-4 col-lg-4 col-xs-6 content-menu-1">
                    <p class="tablet-tit">Manufaceturer</p>
                    <div class="dropdown-tablet-content">
                      <ul class="dropdown-tablet-list">
                        <li><a href="">Apple(Ipad)</a></li>
                        <li><a href="">Lenovo</a></li>
                        <li><a href="">Nexta</a></li>
                      </ul>
                      <ul class="dropdown-tablet-list">
                        <li><a href="">Samsung</a></li>
                        <li><a href="">Xiaomi</a></li>
                      </ul><ul class="dropdown-tablet-list">
                        <li><a href="">Masstel</a></li>
                        <li><a href="">Coolpad</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-xl-2 col-lg-4 col-xs-2 content-menu-2">
                    <p class="price-tit">Price</p>
                    <ul class="">
                      <li><a href="#">Less than 2 million</a></li>
                      <li><a href="#">From 2-5 million</a></li>
                      <li><a href="#">From 5-8 million</a></li>
                      <li><a href="#">Over than 8  million</a></li>
                    </ul>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-xs-4 content-menu-3">
                    <p class="sale-tit">sale</p>
                    <ul class="" aria-labelledby="navbarDropdownMenuLink">
                      <li>
                        <a href="">
                          <img src="https://images.fpt.shop/unsafe/fit-in/192x192/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2021/4/21/637546013880588874_ipad-pro-11-wifi-dd.jpg" alt="">
                        </a>
                        <div>
                          <span>
                            <a href="">iPad Pro 11 2021 Wi-Fi 128GB</a>
                            <p>19.999.000 VND</p>
                          </span>
                        </div>
                      </li>
                    </ul>
                    <ul class="" aria-labelledby="navbarDropdownMenuLink">
                      <li>
                        <a href="">
                          <img src="https://images.fpt.shop/unsafe/fit-in/192x192/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/7/11/637931283633045136_samsung-galaxy-tab-s6-lite-2022-xanh-dd-logo.jpg" alt="">
                        </a>
                        <div>
                          <span>
                            <a href="">Samsung Galaxy Tab S6 Lite 2022</a>
                            <p>7.990.000 VND</p>
                          </span>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-xl-3 content-menu-4">
                    <a href="">
                      <img src="https://images.fpt.shop/unsafe/fit-in/248x248/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2021/10/31/637713179647010960_F-H4_248x248.png" alt="">
                    </a>
                  </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-brands fa-apple"></i>
              APPLE
            </a>
            <div class="dropdown-menu row">
              <div class="dropdown-apple">
                <div class="col-xl-5 col-lg-5 content-menu-1">
                  <p class="tablet-tit">Apple Products</p>
                  <div class="dropdown-apple-content">
                    <ul class="dropdown-apple-list">
                      <li><a href="">IPhone</a></li>
                      <li><a href="">Apple Watch</a></li>
                      <li><a href="">Mac mini</a></li>
                      <li><a href="">Apple TV</a></li>
                      <li><a href="">Airtag</a></li>
                    </ul>
                    <ul class="dropdown-apple-list">
                      <li><a href="">IPad</a></li>
                      <li><a href="">Apple headphone</a></li>
                      <li><a href="">Charging & Cable</a></li>
                      <li><a href="">Mouse & Treckpad</a></li>
                      <li><a href="">Project goods</a></li>
                    </ul><ul class="dropdown-apple-list">
                      <li><a href="">Macbook</a></li>
                      <li><a href="">iMac</a></li>
                      <li><a href="">Cases and Holsters</a></li>
                      <li><a href="">Keyboard</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 content-menu-2">
                  <p class="sale-tit">sale</p>
                  <ul class="" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                      <a href="">
                        <img src="https://images.fpt.shop/unsafe/fit-in/192x192/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/4/25/637864982144816513_iphone-13-pro-max-dd-2-128-256-512-1tb.jpg" alt="">
                      </a>
                      <div>
                        <span>
                          <a href="">iPhone 13 Pro Max 128GB</a>
                          <p>27.990.000 VND</p>
                        </span>
                      </div>
                    </li>
                  </ul>
                  <ul class="" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                      <a href="">
                        <img src="https://images.fpt.shop/unsafe/fit-in/192x192/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/6/13/637907317057450509_iphone-13-dd-bh-2nam.jpg" alt="">
                      </a>
                      <div>
                        <span>
                          <a href="">iPhone 13 128GB</a>
                          <p>19.490.000 VND</p>
                        </span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-xl-4 content-menu-3">
                  <a href="">
                    <img src="https://images.fpt.shop/unsafe/fit-in/248x248/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/7/7/637928315803655276_F-H4_248x248.png" alt="">
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-computer"></i>
              COMPUTER
            </a>
            <div class="dropdown-menu dropdown-computer ">
              <ul class="" aria-labelledby="navbarDropdownMenuLink">
                <li><a href="#">PC</a></li>
                <li><a href="#">Accessory</a></li>
                <li><a href="#">Picture</a></li>
                <li><a href="#">Build PC</a></li>
                </ul>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-headphones"></i>
              ACCESSORY
            </a>
            <div class="dropdown-menu row">
              <div class="dropdown-accessory">
                <div class="col-xl-5 col-lg-5 content-menu-1">
                  <p class="tablet-tit">Accessory Products</p>
                  <div class="dropdown-accessory-content">
                    <ul class="dropdown-accessory-list">
                      <li><a href="">IPhone</a></li>
                      <li><a href="">Apple Watch</a></li>
                      <li><a href="">Mac mini</a></li>
                      <li><a href="">Apple TV</a></li>
                      <li><a href="">Airtag</a></li>
                    </ul>
                    <ul class="dropdown-accsessory-list">
                      <li><a href="">IPad</a></li>
                      <li><a href="">Apple headphone</a></li>
                      <li><a href="">Charging & Cable</a></li>
                      <li><a href="">Mouse & Treckpad</a></li>
                      <li><a href="">Project goods</a></li>
                    </ul><ul class="dropdown-accessory-list">
                      <li><a href="">Macbook</a></li>
                      <li><a href="">iMac</a></li>
                      <li><a href="">Cases and Holsters</a></li>
                      <li><a href="">Keyboard</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 content-menu-2">
                  <p class="sale-tit">sale</p>
                  <ul class="" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                      <a href="">
                        <img src="https://images.fpt.shop/unsafe/fit-in/192x192/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2019/6/17/636963759454365620_HASP-00554636-dd-1.png" alt="">
                      </a>
                      <div>
                        <span>
                          <a href="">Combo Loa Bluetooth Karaoke kèm Mic không dây ivalue F12-65N</a>
                          <p>1.953.000 VND</p>
                        </span>
                      </div>
                    </li>
                  </ul>
                  <ul class="" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                      <a href="">
                        <img src="https://images.fpt.shop/unsafe/fit-in/192x192/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2020/1/14/637146111983706760_Trip10000_Black.jpg" alt="">
                      </a>
                      <div>
                        <span>
                          <a href="">Pin sạc dự phòng UmeTravel 10000mAh TRIP10000 Quick Charge</a>
                          <p>809.000 VND</p>
                        </span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-xl-4 content-menu-3">
                  <a href="">
                    <img src="https://images.fpt.shop/unsafe/fit-in/248x248/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/6/30/637922203212313689_F-H4_248x248.png" alt="">
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-rotate"></i>
              MACHINE
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-house"></i>
              APPLIANSES
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-sd-card"></i>
              CARD
            </a>
          </li>
          <li class=" dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-percent"></i>
              PROMOTION
            </a>
            <div class="dropdown-menu dropdown-promotion"> 
              <ul class="" aria-labelledby="navbarDropdownMenuLink">
                <li><a href="#">Information promotion</a></li>
                <li><a href="#">All promotion</a></li>
              </ul>   
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>